.tutiks-settings-form .card {
    max-width: 800px;
    background: #fff;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.tutiks-settings-form .card .title {
    border-bottom: 1px solid #ccd0d4;
    margin: 0;
    padding: 15px;
    font-size: 14px;
}

.tutiks-settings-form .card .inside {
    padding: 15px;
    margin: 0;
}
